<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>

    <script type='text/javascript' src='http://code.jquery.com/jquery-1.11.0.js'></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#button").click(function() {
                    var input_string = $("#forminput").val();
                    $.ajax({
                        url : "/ajaxexample_json", 
                        type : "POST",
                        dataType: "json", 
                        data : {
                            client_response : input_string,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            success : function(json) {
                            	console.debug(json);
                                $('#result').append( 'Server Response: ' + json.server_response);
                            },
                            error : function(xhr,errmsg,err) {
                                alert(xhr.status + "<: >" + xhr.responseText);
                            }
                    });
                    return false;
            });
        });
    </script>
 
    <form method="post" name="example form" >
        {% csrf_token %}
        Enter the url of a website:
        <input name="example" id="forminput" type="text">
        <input id="button" type="button" value="send to server"></input>
    </form>
 
    <div id="result">
    </div>
 
</body>
</html>
