<html>
<head>
    <title>Search</title>
</head>
<body>
    {% if error %}
        <p style="color: red;">Please submit a search term.</p>
    {% endif %}
    <form action="/search/" method="get">
        <input type="text" name="q" value="Enter your query">
        <input type="submit" value="Search">
    </form>
</body>
</html>
