<html> 
	<head>
		<title>
			{% block title %}
				Notes.DjApp
			{% endblock %}
		</title>
		<link rel="stylesheet" href="/media/style.css">
		<script type="text/javascript" src="/media/jquery-1.2.6.min.js"></script>
		<script type="text/javascript" src="/media/notes.js"></script>
	</head>

	<body>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
