<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
	    <title>InteractPaperSearch</title>
	    <style>
	    	{# header #}
			.h1 {
				text-align: left;
			    color: rgb(189, 182, 163);
			    font: bold 31px/1.15 "Gill Sans MT",Gill Sans,Arial,sans-serif;
			    letter-spacing: -1px;
			    margin-top: 0px;
			}
			{# abstract, title, button #}
			.abs, .tt, .bt {
				margin-top: 4px;
				margin-bottom: 4px;
			}
			
	    </style>
	</head>

	<body>
	<div class="h1">
		Interactive Paper Search
	</div>
	
	<br>
		
		{% block content %}
		{% endblock %}
	</body>
</html>
