{% extends "base.html" %}
{% block content %}
	    <script type='text/javascript' src='http://code.jquery.com/jquery-1.11.0.js'></script>
	    <script type="text/javascript">
	    	var like_list = []; // msid of liked paper, string type
	    	var dislike_list = [];
	    	var current_list = []; // msid of papers shown on current webpage
	    						   // ? TODO: need to initialize current_list when next/previous is pressed
	    						   // doesn't really hurt since unfound paper will simply be ignored

	        	// get liked and disliked lists from the server, populate like/dislike_list and show
	        	// on the bottom of the webpage, radio boxes will be updated as well
	        	var getPref = function(){
	        		$.ajax({
	        			url: "/pref/",
	        			type: "GET",
	        			dataType: "json",
	        				success: function(json){
	        					console.debug('getPref success');
	        					var liked_content="";
	        					var disliked_content="";
	        					like_list = [];
	        					dislike_list = [];
	        					for(var msid in json) {
	        						var paper_json = JSON.parse(json[msid]);
	        						if(msid.match(/^like:/g)!=null) {
	        							liked_content = liked_content + paper_json["title"] + "<br>";
	        							like_list.push(msid.split(":")[1]);
	        						} else if (msid.match(/^dislike:/g)!=null) {
	        							disliked_content = disliked_content + paper_json["title"] + "<br>";
	        							dislike_list.push(msid.split(":")[1]);
	        						}
	        						
	        					}
	        					$("#liked").html(liked_content);
	        					$("#disliked").html(disliked_content);
	        					updateRadio();
	        				},
	        				
	        				error: function(xhr, errmsg, err) {
	        					console.debug('getPref error');
	        					console.debug(xhr.status+": "+errmsg+" "+err);
	        				}
	        		});
	        		return false;
	        	// end of getPref()
	        	};

			// for papers in the current page, update the radio button according to user selection history
			// iterate through current_list for current page papers, then check each paper's existence
			// in like or dislike list to set the radio box.
			var updateRadio = function() {
	        	for(var ind in current_list) {
			    		// console.debug(current_list[ind]);
			    		// for(var tmp in like_list) {console.debug(like_list[tmp]);}
			    		// console.debug(like_list.indexOf(current_list[ind]));
			    		if(like_list.indexOf(current_list[ind])!=-1){
			    		    console.debug("Like "+current_list[ind]);
			    			document.getElementById("Like "+current_list[ind]).checked = true;
			    		} else if(dislike_list.indexOf(current_list[ind])!=-1) {
			    			console.debug("Dislike "+current_list[ind]);
			    			document.getElementById("Dislike "+current_list[ind]).checked = true;
			    		} else {
			    			console.debug("Unsure "+current_list[ind]);
			    			document.getElementById("Unsure "+current_list[ind]).checked = true;
			    		}
	        	}
	        // end of updateRadio()
			}

	        	// send the radio box selection of the paper to the server and call getPref()
	        	var updatePref = function(id){
	        		$.ajax({
	        			url: "/update_pref/",
	        			type: "POST",
	        			dataType: "json",
	        			data: {
	        				pref_msid: id,
	        				csrfmiddlewaretoken: '{{ csrf_token }}'
	        			},
	        				success: function(){
	        					console.debug('updatePref success');
	        					getPref();
	        				},
	        				
	        				error: function(xhr, errmsg, err) {
	        					console.debug('updatePref error');
	        					console.debug(xhr.status+": "+errmsg+" "+err);
	        				}
	        		});
	        		return false;
	        	// end of updatePref();
	        	};

	        // when documents finishes loading, we call getPref()
	        // when a radio button is clicked, we call updatePref()
	        $(document).ready(function() {
	        	getPref();
	        	
	        	// when radio boxes get clicked, the type(like/dislike/unsure) and msid of paper will
	        	// be get and transfered to updatePref()
	        	$(":radio").click(function() {
	        		var $this = $(this);
        			var type_id = $this.val();
	        		if($this.is(":checked")){
	        			// alert("this is checked: "+ type_id);
	        			updatePref(type_id);
	        		}
	        	});
	        // end of of document ready function
	        });
	    </script>
	    
		<form name="input" action="" method="get">
			<input type="text" size = "47" name="q">
			<input type="submit" value="Search">
		</form>

		{% if errors %}
			<ul>
            	{% for error in errors %}
            		{% if error != '' %}
            			<li style="color: red;">{{ error }}</li>
            		{%  endif %}
            	{% endfor %}
        	</ul>
    	{% endif %}

		{# if there are any papers, we show them as below #}
		{% if papers %}
		    {# we show papers in a table #}
		    <table>
				{% for paper in papers %}
				<tr>
			    {# Each "paper" is a paper model object, each paper is a row #}
					{# first column is radio box selection for each paper #}
					<td width="100">
					    <input type="radio" name="{{paper.ms_id}}" id="Like {{paper.ms_id}}" value="Like {{paper.ms_id}}"> Like <br> 
					    <input type="radio" name="{{paper.ms_id}}" id="Dislike {{paper.ms_id}}" value="Dislike {{paper.ms_id}}"> Dislike <br> 
					    <input type="radio" name="{{paper.ms_id}}" id="Unsure {{paper.ms_id}}" value="Unsure {{paper.ms_id}}"> Unsure  
				        {% csrf_token %}
				        {# each django_template rendered paper will be pushed to current_list #}
				    	<script>
				    		current_list.push('{{paper.ms_id}}');
				    	</script>
				    </td>
				    
				    {# second column is paper information #}
				    <td>
					    <div class="tt">
						    <b>Title:</b> {{ paper.title}}
						    <br />
						</div>
						<b>Author:</b> 
							{% for author in paper.author_list %}
								   {{author}};
							{% endfor %}<br />
					    <b>Publication Year:</b> {{paper.year}} || <b>Citation Count:</b> {{paper.citation_count}}
					     || <b>Reference Count:</b> {{paper.reference_count}}<br />
					    {% if paper.conf %}
					    	<b>Conference: </b> {{paper.conf}} <br />
					    {% endif %}
					    {% if paper.jnl%}
					    	<b>Journal:</b> {{paper.jnl}} <br />
					    {% endif %}
					    {% if paper.abstract%}
					    	<div class = "abs">
						    	<b>Abstract:</b> {{paper.abstract}} <br />
						    </div>
					    {% endif %}
					    {% if paper.url %}
					      	<a href={{paper.url}} target="_blank"> See Paper </a> <br />
					    {% endif %}
					    <hr>
				    </td>
				</tr>
				{% endfor %}
			</table>
			
			{# pagination class does not exist yet #}
			<div class="pagination">
			    <span class="step-links">
			    	{# ? TODO: when previous or next is clicked, current_selection should be initilized #}
			    	{# since current_selection really means papers on the current page #}
			    
			        {% if papers.has_previous %}
			            <a href="?page={{ papers.previous_page_number }}">Previous</a>
			        {% endif %}
			
			        <span class="current">
			            Page {{ papers.number }} of {{ papers.paginator.num_pages }}
			        </span>
			
			        {% if papers.has_next %}
			            <a href="?page={{ papers.next_page_number }}">Next</a>
			        {% endif %}
			    </span>
			</div>
		{% endif %}
		
		<br>
		<div class="bt">
			<form name="generate" action="" method="get">
				<input name="g" type="submit" value="Rerank">
			</form>
		</div>
		
		<b>Liked papers:</b>
		<div id="liked">
		</div>

		<b>Disliked papers:</b>
		<div id="disliked">
		</div>
		
		<br>
		<form name="empty" action="" method="get">
			<input name="e" type="submit" value="Start Over">
		</form>

{% endblock %}